/* BASIC START */
body {
    margin: 0px;
    padding: 0px;
    background-image: url(../IMG/bg2.png);
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0px;
}

a {
    text-decoration: none;
}
/* BASIC END */

/* MENU BAR START */
header {
    background: #ea272d;
    width: 100%;
    height: 60px;
    display: flex;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.20);
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

header a {
    color: white;
    width: 100%;
}

nav ul {
    display: flex;
}

nav ul li a {
    padding: 0px 30px;
}

.cart img{
    height: 30px;
}

.cart {
    margin-right: 10%;
    font-size: 17px;
}

.logo {                                    
    margin-left: 10%;
}

.hamburger {
    color: white;
    font-size: 25px;
}

header .hamburger {
    display: none;
}
/* MENU BAR END */

/* MAIN CONTENT START */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    width: 100%;
    border-radius: 10px;
}

.news {
    margin-top: 15px;
}

.row {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    justify-content: center;
}

.slideshow {
    position: relative;
    max-width: 540px;
    max-height: 320px;
    margin-right: 7.5px;
}

.text {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 50%;
    right: 25%;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.subtext {
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 40%;
    right: 26.5%;
    width: 100%;
    text-align: center;
}

.mySlides {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.find {
    display: flex;
    flex-direction: column; 
    margin-left: 7.5px;
    max-width: 540px;
    max-height: 320px;
    text-align: center;
}

.search {
    position: relative;
    display: flex;
    margin-bottom: 7.5px;
}

.search p {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
    font-weight: bold;
    font-size: 25px;
    margin-top: auto;
}

.search .search-input input {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 50%;
}
.search .search-input button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 26px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 25%;
    border-radius: 10px;
    background-color: white;
    border: none;
}

.search .search-input button:hover {
    background: #EEEEEE;
}

.order {
    position: relative;
    display: flex;
    margin-top: 7.5px;
}

.order .span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

span {
    margin-right: 15px;
}

.food {
    position: relative;
    max-width: 354px;
    max-height: 350px;
}

.f1, .f2 {
    margin-right: 7.5px;
}

.f2, .f3 {
    margin-left: 7.5px;
}

.food .text {
    bottom: 60%;
    right: 15%;
}
.food .subtext {
    bottom: 50%;
    right: 16.5%;
}

.menu {
    position: relative;
    max-height: 180px;
    max-width: 540px;
    cursor: pointer;
}

.menu:first-of-type {
    margin-right: 7.5px;
}

.menu:last-of-type {
    margin-left: 7.5px;
}

.menu .text {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAIN CONTENT END */

/* FOOTER START */
footer {
    background: #121212;
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flink-container {
    align-items: center;
    display: flex;
    height: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: gray solid 1px;
}

.media img {
    height: 30px;
    margin-right: 10px;
}

.media {
    margin-right: 10%;
}

.flink a {
    color: white;
    width: 100%;
    font-size: 20px;
    padding: 0 30px;
    font-weight: bold;
}

.copy {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* FOOTER END */

/* RESTAURANT MENU START */
.menuOrder {
    max-width: 1095px;
    width: 100%;
    display: flex;
    background-color: rgba(255,255,255,0.10);
    flex-direction: column;
    border-radius: 10px;
}

.menuOrder h1 {
    text-align: center;
    text-decoration: underline;
}

.menuOrder section {
    display: flex;
    flex-direction: column;
}

.menuRow {
    display: flex;
    flex-direction: column;
}

.pizzaNameRow {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.price {
    margin-top: auto;
    margin-bottom: auto;
}

.price button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.ingredients {
    margin-left: 30px;
    margin-bottom: 15px;
}

.pizzaNameRow > span {
    font-weight: bold;
    font-size: 18px;
}

.price span, .ingredients {
    font-size: 15px;
}
/* RESTAURANT MENU END*/

/* CART START */
.cartFlex {
    flex-direction: row;
}

.cartList {
    margin-right: 7.5px;
    margin-left: 30px;
}

.cartSummary {
    margin-left: 7.5px;
    margin-right: 30px;
    
}

/* CART END */

/* RWD START */
@media screen and (max-width: 900px){
    /* MENU BAR START */
    nav ul li a, .flink a {
        padding: 0px 20px;
        text-align: center;
        white-space: nowrap;
    }
    
    header, .flink a {
        font-size: 17px;
    }

    .cart {
        font-size: 14px;
        margin-right: 10px;
    }
    
    .logo {
        margin-left: 10px;
    }
    /* MENU BAR END */
}


@media screen and (max-width: 768px) and (min-width: 669px){
    .text, .search p, .span {
        font-size: 25px;
    }

    .subtext {
        font-size: 20px;
    }
}

@media screen and (max-width: 668px){
    .row {
        flex-direction: column;
        margin-bottom: 0;
    }
    
    .slideshow, .find, .food, .menu:last-of-type, .menu:first-of-type {
        margin-right: auto;
        margin-left: auto;
    }

    .search {
        margin-bottom: 0;
        margin-top: 4px;
    }

    .order {
        margin-top: 0;
    }
    
    .food, .menu {
        margin-bottom: 4px;
    }
}

@media screen and (max-width: 655px) {
    .flink-container {
        flex-direction: column;
        border: none;
        height: auto;
    }
    
    .flink a {
        font-size: 15px;
    }
    
    .flink {
        margin-bottom: 5px;
    }
    .copy {
        height: auto;
    }
    
    footer {
        height: auto;
    }

    .media img {
        height: 25px;
        margin-right: 10vw;
        margin-left: 10vw;
    }
}

@media  screen and (max-width: 610px) {
    .pizzaNameRow, .ingredients {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 580px){
    /* MENU BAR START */
    nav {
        position: absolute;
        width: 100%;
        top: 30px;
        display: none;
    }

    nav:hover {
        display: block;
    }

    nav ul {
        line-height: 50px;
        text-align: center;
        flex-direction: column;
        background-color: #ea272d;
        width: 100%;
    }

    header .hamburger {
        line-height: 50px;
        display: inline-block;
        margin-right: 30px;
    }

    header .hamburger:hover ~ nav {
        display: block;
    }
    nav li {
        border-top: 1px solid white;
    }
    /* MENU BAR END */
    
    /* MAIN CONTENT START */
    .news img {
        max-width: 300px;
    }
    /* MAIN CONTENT END */
}

@media  screen and (max-width: 610px) {
    .pizzaNameRow, .ingredients {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 550px) {
    .pizzaNameRow {
        flex-direction: column;
        align-items: center;
    }
    
    .ingredients {
        text-align: center;
    }
   
    .price button{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }
}
/* RWD END */

/* WEBKIT START*/
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
/* WEBKIT END*/